body {
    background-color: #d0d0d0;
    font-family: sans-serif;
}

div.box {
    background-color: #ffffff;
    width: 500px;
    margin: 20px auto 50px;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #808080;
    box-shadow: 8px 15px 20px #404040
}

img.logo {
    float: right;
    margin: -10px 0 0 30px
}

h1 {
    margin: 0;
    font-size: 24px
}

h2 {
    margin-top: 40px;
    font-size: 20px;
    font-weight: normal;
    border-bottom: 1px solid #ff9040
}

p {
    font-size: 14px
}

a {
    color: #00539F;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}