{% extends 'base.html' %}
{% block page_title %} Analysis {% endblock %}

{% block main_panel %}
    <div class="main-panel">
        <div class="panel-header">
            <div class="header text-center">
                <h1 class="title">Analysis</h1>
            </div>
        </div>
        <div class="main">
            <div class="w3-card-2">
                <div class=box id="datatable">
                </div>
            </div>
        </div>

    </div>
    <script>

        var rows = []
        var formatdate = d3.time.format("%b %d %Y");

        d3.csv("LMdata.dat", function (error, csv) {
            csv.forEach(function (row) {
                rows.push(row);
            });

            var table = d3.select("#datatable").append("table");
            thead = table.append("thead");
            tbody = table.append("tbody");

            thead.append("th").text("Module");
            thead.append("th").text("Run Type");
            thead.append("th").text("Run Start (ticks)");
            thead.append("th").text("Run Start (s)");
            thead.append("th").text(" ");
            thead.append("th").text(" ");

            var tr = tbody.selectAll("tr")
                .data(rows)
                .enter().append("tr");

            var td = tr.selectAll("td")
                .data(function (d) {
                    return [d.Module, d.RunType, d.Run_Start_ticks, d.Run_Start_sec, d.Unused1, d.Unused2];
                })
                .enter().append("td")
                .text(function (d) {
                    return d;
                });

            var width = 80,
                height = d3.select("table")[0][0].clientHeight,
                mx = 10,
                radius = 2;

        });
    </script>
    </div>
{% endblock %}