{% extends 'base.html' %}
{% block page_title %} Setup {% endblock %}

{% block additional_scripts %}
    <script src="{{ url_for('static', filename='js/plugins/dygraph-combined.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom/setup.js') }}"></script>
{% endblock %}

{% block main_panel %}
    <div class="main-panel">
        <div class="panel-header">
            <div class="header text-center">
                <h1 class="title">Pixie-Net Setup</h1>
                <h2 class="title"><b>DO NOT RUN WHILE DAQ IS BUSY!</b></h2>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card" id="init_daq">
                        <div class="card-header">
                            <div class="card-title">
                                <h2>Initialize DAQ</h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <input id='apply1' type="button" class="btn btn-outline-primary" value="Program FPGA">
                        </div>
                    </div>
                    <div class="card" id="config_daq">
                        <div class="card-header">
                            <div class="card-title">
                                <h2>Configure Parameters</h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <input id='read' class='readbutton btn btn-outline-primary' type="button" value="Read Settings">
                            <input id='apply' type="button" class="btn btn-outline-primary" value="Update Settings">
                            <p></p>
                            <div class="table-responsive" id="datatable">
                                <table>
                                    <tr>
                                        <th>Channel</th>
                                        <th>Inverted</th>
                                        <th>Offset</th>
                                        <th>Analog Gain</th>
                                        <th>Digital Gain</th>
                                        <th>Tau</th>
                                    </tr>
                                    <tr id=row00>
                                        <td>00</td>
                                        <td><label for="polarity00"></label><input class="fieldp"
                                                                                   type="text"
                                                                                   size="8"
                                                                                   id="polarity00"
                                                                                   value="0"></td>
                                        <td><label for="offset00"></label><input class="fieldo"
                                                                                 type="text"
                                                                                 size="8"
                                                                                 id="offset00"
                                                                                 value="0.000"></td>
                                        <td><label for="again00"></label><input class="fielda"
                                                                                type="text" size="8"
                                                                                id="again00"
                                                                                value="0.000"></td>
                                        <td><label for="dgain00"></label><input class="fieldd"
                                                                                type="text" size="8"
                                                                                id="dgain00"
                                                                                value="0.000"></td>
                                        <td><label for="tau00"></label><input class="fieldt"
                                                                              type="text" size="8"
                                                                              id="tau00"
                                                                              value="0.000">
                                        </td>
                                    </tr>
                                    <tr id=row01>
                                        <td>01</td>
                                        <td><label for="polarity01"></label><input class="fieldp"
                                                                                   type="text"
                                                                                   size="8"
                                                                                   id="polarity01"
                                                                                   value="0"></td>
                                        <td><label for="offset01"></label><input class="fieldo"
                                                                                 type="text"
                                                                                 size="8"
                                                                                 id="offset01"
                                                                                 value="0.000"></td>
                                        <td><label for="again01"></label><input class="fielda"
                                                                                type="text" size="8"
                                                                                id="again01"
                                                                                value="0.000"></td>
                                        <td><label for="dgain01"></label><input class="fieldd"
                                                                                type="text" size="8"
                                                                                id="dgain01"
                                                                                value="0.000"></td>
                                        <td><label for="tau01"></label><input class="fieldt"
                                                                              type="text" size="8"
                                                                              id="tau01"
                                                                              value="0.000">
                                        </td>
                                    </tr>
                                    <tr id=row02>
                                        <td>02</td>
                                        <td><label for="polarity02"></label><input class="fieldp"
                                                                                   type="text"
                                                                                   size="8"
                                                                                   id="polarity02"
                                                                                   value="0"></td>
                                        <td><label for="offset02"></label><input class="fieldo"
                                                                                 type="text"
                                                                                 size="8"
                                                                                 id="offset02"
                                                                                 value="0.000"></td>
                                        <td><label for="again02"></label><input class="fielda"
                                                                                type="text" size="8"
                                                                                id="again02"
                                                                                value="0.000"></td>
                                        <td><label for="dgain02"></label><input class="fieldd"
                                                                                type="text" size="8"
                                                                                id="dgain02"
                                                                                value="0.000"></td>
                                        <td><label for="tau02"></label><input class="fieldt"
                                                                              type="text" size="8"
                                                                              id="tau02"
                                                                              value="0.000">
                                        </td>
                                    </tr>
                                    <tr id=row03>
                                        <td>03</td>
                                        <td><label for="polarity03"></label><input class="fieldp"
                                                                                   type="text"
                                                                                   size="8"
                                                                                   id="polarity03"
                                                                                   value="0"></td>
                                        <td><label for="offset03"></label><input class="fieldo"
                                                                                 type="text"
                                                                                 size="8"
                                                                                 id="offset03"
                                                                                 value="0.000"></td>
                                        <td><label for="again03"></label><input class="fielda"
                                                                                type="text" size="8"
                                                                                id="again03"
                                                                                value="0.000"></td>
                                        <td><label for="dgain03"></label><input class="fieldd"
                                                                                type="text" size="8"
                                                                                id="dgain03"
                                                                                value="0.000"></td>
                                        <td><label for="tau03"></label><input class="fieldt"
                                                                              type="text" size="8"
                                                                              id="tau03"
                                                                              value="0.000">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% include 'hist_trace.html' %}
                    {% include 'hist_mca.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}